<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855118104539-8r2tfh1766eh193l67i9e00jt26mjlkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855118104539-8r2tfh1766eh193l67i9e00jt26mjlkj</string>
	<key>API_KEY</key>
	<string>AIzaSyCvBLY2cY-64w_EhxEFXDHLukro1AuEa7I</string>
	<key>GCM_SENDER_ID</key>
	<string>855118104539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chen.Ios1Project</string>
	<key>PROJECT_ID</key>
	<string>guessmaster-ios-1</string>
	<key>STORAGE_BUCKET</key>
	<string>guessmaster-ios-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855118104539:ios:b5a6a4e1470674de0249fe</string>
</dict>
</plist>